name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgstreamer1.0-dev libgstreamer-plugins-base1.0

    - name: Setup Deno
      uses: denoland/setup-deno@v2
      with:
        deno-version: v2.6.x
        cache: true

    - name: Run Deno linter
      run: cd webapp && deno install && deno check
        
    - name: Check Rust
      run: cd preparer && cargo check --verbose
